.so-widget-sow-slider-default-9bba1f830749 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-slider-default-9bba1f830749 .sow-slider-base .sow-slide-nav {
  font-size: 15px;
}
.so-widget-sow-slider-default-9bba1f830749 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}